@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  background-color: #1a1a1a;
}

.add-todo-button {
  bottom: 40px;
  right: 40px;
}

#portal-host {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}
